name: Preview Build

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set Up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 21

      - name: Build With Maven
        run: mvn package --file pom.xml
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Capture Release Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: |
            target/*.jar